/*	XOP-specific resources for XOP1 on Windows

	This file is compiled by the resource compiler and creates XOP-specific
	resources that IGOR looks for in an XOP module.
*/

#include "XOPResources.h"			// Defines XOP-specific symbols.

/* no custom error messages */

/* no menu item */

1100 XOPI							// XOPI - Describes general XOP properties to IGOR. 
BEGIN
	XOP_VERSION,					// Version number of host XOP system.
	DEV_SYS_CODE,					// Code for development system used to make XOP.
	0,								// Obsolete - set to zero.
	0,								// Obsolete - set to zero.
	XOP_TOOLKIT_VERSION				// XOP Toolkit version.
END

1100 XOPC							// Describes operations that the XOP adds to IGOR.
BEGIN
	"SCListAvailableCameras\0",
	XOPOp | utilOp | compilableOp,
	
	"SCAcquireCameraImages\0"
	XOPOp | utilOp | compilableOp,

	"SCSetCameraSettings\0"
	XOPOp | utilOp | compilableOp,

	"\0"							// NOTE: NULL required to terminate the resource.
END

1100 XOPF							// Describes functions added by XOP to IGOR.
BEGIN
	"SCGetCameraEMGain\0",					// Function name.
	F_UTIL | F_EXTERNAL,			// Function category,
	NT_FP64,						// Return value type.
	HSTRING_TYPE,					// First parameter type.
	0,							// NOTE: 0 required to terminate list of parameter types.

	"SCGetCameraExposureTime\0",	// Function name.
	F_UTIL | F_EXTERNAL,			// Function category,
	NT_FP64,						// Return value type.
	HSTRING_TYPE,					// First parameter type.
	0,								// NOTE: 0 required to terminate list of parameter types.

	"SCGetCameraTemperature\0",		// Function name.
	F_UTIL | F_EXTERNAL,			// Function category,
	NT_FP64,						// Return value type.
	HSTRING_TYPE,					// First parameter type.
	0,								// NOTE: 0 required to terminate list of parameter types.


	0,								// NOTE: 0 required to terminate the resource.
END


1100 STR#
BEGIN
	"\0"	
END


